main{
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: calc(100vh - 70px);
    margin-left: 15vw;
    padding: 15px
}

.secondary-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.custom-table{
    padding-left: 20px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #BEBEBE;
    box-shadow: 1px 1px 2px lightgray;
}

.rbc-event{
    background-color: #15241D !important;
}

button{
    border: none !important;
}

.manual-content{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.manual-block{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 60%;
}

.manual-image {
    background-color: #eaf4ff; 
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    margin: 1rem 0;
  }
  
  .manual-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

@media (max-width: 991px) {
    main{
        margin: 0;
        width: 100vw;
    }
}