/*Page */

.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.viewport{
    height: 100vh;
    padding: 20px 30px;
}

/*Viewport One - Intro */

.one{
    height: 150vh;
}

.one .col{
    height: 150vh;
    border-radius: 24px;
}

.custom-gap {
    display: flex;
    gap: 24px;
  }

  .col-one-one {
    position: relative;
    overflow: hidden;
  }
  
  .col-one-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/blurry-gradient-haikei (1).svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: 0;
  }
  
  /* Obsah nad pozadím */
  .col-one-one > * {
    position: relative;
    z-index: 1;
  }

.col-one-two {
    height: 150vh;
    padding: 0; 
  }
  
  .inner-blocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
  }
  
  .inner-block {
    flex: 1; 
    border-radius: 24px;
  }

  .inner-block.one{
    background-color: #B5FFDC;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  
  .inner-block.two{
    background-image: url('../../../assets/images/pexels-olly-840996.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }






/*? */

.viewport1{
    height: 40vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.viewport1 h1{
    font-size: 56px;
    font-family: 'ClashDisplay-Regular';
    src: url('../../../fonts/clash/ClashDisplay-Regular.woff2'); 
    text-align: center;
}

.viewport1 button{
    margin: 10px 50px;
    border-radius: 12px;
}

.ll-primary-purple{
    background-color: #635ee2;
    color: white;
    border: none;
}

.ll-primary-purple-outline{
    border: 1px solid #635ee2;
}


