.registration{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form{
    width: 30%;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 40px 20px;
}