@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url('./fonts/clash/ClashDisplay-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('./fonts/work/WorkSans-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}


:root {
  --font-special: 'ClashDisplay-Regular';
  --font-main: 'WorkSans-Regular';
  --color-primary-purple: #635ee2;
  --color-primary-mint: #D3F5CF;
  --color-primary-blue: #A8DBFA;
  --color-background-gray: #F5F6FC;
  --color-secondary-text-gray: #BEBEBE;
  --color-bg: #f9f9f9;
  --radius: 10px;
}

.content{
  background-color: var(--color-background-gray);
  padding-top: 1vw;
}

h1,
h2,
h3,
h4{
  font-family: var(--font-special);
}

h4{
  color: var(--color-primary-purple) !important;
}

p{
  font-family: var(--font-main);
}


label{
  font-size: 12px;
  font-weight: lighter;
  margin-top: 25px;
}

button{
  border-radius: 12px !important;
}

.custom-button-primary-outline-blue{
  border: 1px solid var(--color-primary-blue) !important;
  font-family: var(--font-main) !important;
}

.custom-button-primary-filled-purple{
  background-color: var(--color-primary-purple) !important;
  color: white !important;
  border: none !important;
  font-family: var(--font-main) !important;
}

.custom-button-primary-filled-mint{
  background-color: var(--color-primary-mint) !important;
  color: black !important;
  border: 1px solid var(--color-secondary-text-gray) !important;
  font-family: var(--font-main) !important;
}
