.custom-navbar {
    width: 84vw;
    margin-left: 15vw;
    margin-right: 1vw;
    
    box-shadow: 1px 1px 4px gray;
    border-radius: 12px;
    background-color: white;
  }

.custom-search{
    border-radius: 12px;
}

  @media (max-width: 991px) {
    .custom-navbar{
        margin: 0;
        width: 100vw;
        border-radius: 0px 0px 12px 12px;
    }
}

.icon{
  margin-right: 10px;
}
